<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzh.mapper.CarModelMapper" >
  <resultMap id="BaseResultMap" type="com.wzh.model.CarModel" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="ccount" property="ccount" jdbcType="INTEGER" />
    <result column="week" property="week" jdbcType="VARCHAR" />
    <result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, cname, ccount, week, cdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_car
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_car
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wzh.model.CarModel" >
    insert into t_car (cid, cname, ccount, 
      week, cdate)
    values (#{cid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{ccount,jdbcType=INTEGER}, 
      #{week,jdbcType=VARCHAR}, #{cdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wzh.model.CarModel" >
    insert into t_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="ccount != null" >
        ccount,
      </if>
      <if test="week != null" >
        week,
      </if>
      <if test="cdate != null" >
        cdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="ccount != null" >
        #{ccount,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzh.model.CarModel" >
    update t_car
    <set >
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="ccount != null" >
        ccount = #{ccount,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        week = #{week,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null" >
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzh.model.CarModel" >
    update t_car
    set cname = #{cname,jdbcType=VARCHAR},
      ccount = #{ccount,jdbcType=INTEGER},
      week = #{week,jdbcType=VARCHAR},
      cdate = #{cdate,jdbcType=TIMESTAMP}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>